* {
  all: unset;
  color: #A9B1D6;
}

window {
  background-color: #1A1B26;
  border-radius: 20px;
}

centerbox {
}

eventbox {
  background-color: #ffffff;
}

.whole {
  padding: 0px 20px;
}

.space {
  padding: 0px 10px
}


.hidden {
  border-radius: 20px;
  background-color: #24283B;
  padding: 0px 10px
}

